.about-title{
    text-align: center;
    color: #f5f2e6;
    background-color: #0a0a0a;
    margin: 0;
    padding: .8em;
    font-size: 1.8em;
    letter-spacing: .5em;
}
.about-me-container {
    max-width: 100vw;
    padding: 1em 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.about-me-container .profile-pic{
    border-radius: 50%;
    border: .1em solid #131313e3;
    width: 12em;
    margin: 1em 0 1.4em 0;
    box-shadow: rgba(173, 173, 173, 0.767) -.1em .1em;
}
.about-me-container .animate-wrapper{
    display: flex;
    justify-content: center;
}
.about-me-container .wrapper{
    width: 75%;
    background-color: #61cdf7a8;
    margin: 0;
    border-radius: 1em;
    border: .1em solid #131313e3;
    box-shadow: rgba(173, 173, 173, 0.767) -.1em .1em;
    
}
.about-me-container .about span{
    font-weight: 500;
}
.about-me-container p.about{
    margin: .6em 1.8em;
    font-weight: 400;
    font-size: 1em;
    text-align: left;
    line-height: 1.3em;
    color: #131313e3;
}