.hero-container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  background-image: url("../images/Hero-bg.webp");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center center;
  border-bottom: 0.2em solid #131313e3;
  border-top: 0.2em solid #131313e3;
}

.hero-container h1,
h3 {
  text-align: left;
  text-shadow: #bebdbd9d -0.06em 0.06em;
  color: #131313e3;
  margin: 0;
  letter-spacing: -0.03em;
  transform: skew(-10deg);
}

.hero-container h1 {
  font-size: 2.2em;
}

.hero-container h3 {
  font-size: 1.4em;
}

.hero-container .title {
  position: relative;
  left: 0.2em;
  bottom: 0.4em;
  background-color: #f5f2e6dc;
  padding: 0.4em 1em;
  padding-right: 1.3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  border: 0.1em solid #131313c5;
  border-radius: 0.2em;
}

div.labels {
  position: sticky;
  left: 3.2em;
  top: 0.15em;
  text-align: left;
}
div.labels p {
  margin-bottom: 1.45em;
  font-weight: 600;
  text-shadow: #f3f3f3f6 -0.05em 0.05em;
}
