.navbar{
    position: fixed;
    top:12px;
    left: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #ffffffad;
    border-radius: 6px;
    z-index: 1;
}