.navbar {
  position: fixed;
  top: 0.6em;
  left: 0.6em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background: #f5f0f09a;
  border-radius: 0.4em;
  z-index: 1;
  padding-right: 0.2em;
  transition:
    width 0.5s ease-in-out,
    height 0.5s ease-in-out;
}
