.navLink img{
    height: 1.6em;
    width: 1.6em;
    margin: .4em .4em;
}

.navLink img:hover{
    transform: scale(1.1, 1.1);
    position: relative;
    top: .1em;
}

.navLink img:active{
    transform: scale(1, 1);
    position: relative;
    top: 0;
}