.project-piece-container{
    width: 24.4em;
    height: 14.8em;
    background-color: transparent;
    perspective: 40em;
    margin: 1em;
}

.flip-card{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 600ms ease-in-out;
    transform-style: preserve-3d;
}

.project-piece-container:hover .flip-card{
    transform: rotateX(180deg)
}

.card-front, .card-back{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border: .1em solid #050505;
    border-radius: .2em;
    overflow: hidden;
    box-shadow: #ff3c23 -.13em .14em;
}

.card-front img{
    width: 24.4em;
}

.card-back img{
    width: 2em;
    height: 2em;
}

.card-back{
    background-color: #1d1d1d;
    color: #f3f2f2;
    transform: rotateY(180deg);
    transform: rotateX(180deg);
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.card-back p{
    margin: .8em 1.2em;
    text-align: left;
    padding: 0 1.2em;
    line-height: 1.2em;
    font-size: .9em;
}
.description span{
    font-weight: 700;
}

.tech-stack{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: .8em 0;
    background-color: #32df89ea;
    font-weight: 800;
    text-shadow: #1d1d1d -.07em .07em;
    font-size: .9em;
}

.card-back .link-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-back .link-container a{
    background-color: white;
    border-radius: 50%;
    padding: .07em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1em 2em;
    border: .03em solid #32df89ea;
}

.card-back .link-container a:hover{
    transform: scale(1.1, 1.1);
    position: relative;
    top:3px;
}