.project-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 2em 1em;
}


.project-wrapper h1{
    text-align: center;
    color: #f3f2f2;
    background-color: #1d1d1d;
    margin: 0;
    padding: .8em;
    font-size: 1.8em;
    letter-spacing: .5em;
}