.skill-comp-container{
    width: 6em;
    height: 6em;
    background-color: #f5f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    border: .2em double #131313e3;
    transform: skew(-10deg)
}
.skill-comp-container h2{
    font-size: 1em;
}
