.carousel-wrapper .slider{
    position: absolute;
    width: 60px;
    height: 60px;
    transition: transform 100ms ease-in-out;
}

.carousel-wrapper .slider:hover{
    transform: scale(1.06, 1.06)
}

.carousel-wrapper .prev{
    top: 48%;
    left: 10px;
}

.carousel-wrapper .next{
    top: 48%;
    right: 10px;
}