.hero-container{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    background-image: url('https://media.giphy.com/media/3kuPC4N7ojo6zq6lQW/giphy.gif');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center bottom;
    border-bottom: 2px solid #131313e3;
}

.hero-container h1, h3{
    text-align: left;
    text-shadow: #1111119d -3px 3px;
    color: #f5f2e6;
    margin:0;
}

.hero-container h1{
    font-size: 50px;
}

.hero-container h3{
    font-size: 30px;
}

.hero-container .title{
    margin: 52px 60px;
}