.all-skills-conatiner .title{
    border-radius: 50%;
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: royalblue;
    color: white;
    margin: 0 auto;
}